# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Sample Demo
#sample_*
svp/*
lsc_online_cali/lsc_online_cali
uvc_app/uvc_app
dis/sample_dis
fisheye/sample_fisheye
hifb/sample_hifb
region/sample_region
scene_auto/sample_scene
snap/sample_snap
tde/sample_tde
traffic_capture/sample_traffic_capture
vdec/sample_vdec
venc/sample_venc
vgs/sample_vgs
vio/smp/sample_vio
vo/smp/sample_vo
audio/sample_audio
awb_online_calibration/sample_awb_calibration
calcflicker/sample_calcflicker
